<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        SKR CABS
    </title>
    <link rel="shortcut-icon" href="images/logo.jpg" > 
    <Style>
    	
    	.users{
    		margin-top: 1%;
    	    display: inline-flex;
    	    align-items: center;
    	}
    	h1,h2,h3{
    	color: silver;
    	text-align: center;
    	}
    	
    	#ing{
    		margin-left: 2%
    	}
    	#ing :hover{
    	width:102%;
    	}
    
    </Style>
</head>
<body style="background-color: navy;">
<h1 style=" margin-top: 5%">Welcome to SKR CABS</h1>
<!--  <span class = "hiddenbuttons">
<button Style="float: right">login</button>
<button Style="float: right">register</button>
</span>-->
<div style="border: #CBCBD4 solid 2px; padding: 1%; border-radius: 1%">
<h2 >please select the user type</h2>
<div class="users" >
<div id="ing"><a href="customerlog.html"><img src="images/customer.jpg" width= 100%>
<h3>customer</h3></a></div>
<div id="ing"><a href="driverlog.html"><img src="images/driver.jpg" width= 100%>
<h3>driver</h3></a></div>
<div id="ing"><a href="Managerlog.html"><img src="images/management.jpg" width= 100%>
<h3>manager</h3></a></div>
</div></div><br><br>

<div class="info" style="border: #CBCBD4 solid 2px; padding: 2%">
<h2 > About Us</h2>
<h3 >
Welcome to <strong>SRK CABS</strong>, your trusted partner for reliable and convenient transportation solutions. At <strong>SRK CABS</strong>, we are dedicated to providing exceptional 
service that exceeds your expectations every time you ride with us.<br><br>

Founded on the principles of reliability, safety, and customer satisfaction,
 <strong>SKR</strong> has been serving Visakhapatnam and beyond since 2024. Whether you need a quick ride to the airport,transportation for a special event, or corporate travel solutions, we are here to cater to your needs with professionalism and efficiency.</h3>
	
</div>

</body>
</html>
